.DS_Store
*.swp
.vscode
.idea

**/target
**/*.rs.bk
.wasm-binaries
rls*.log
**/Cargo.lock
!/Cargo.lock

*.log

**/tmp
**/venv

**/CMakeLists.txt
**/cmake-build-debug

bin/**
!bin/.keep
gramine-build/*.token
gramine-build/*.sig
gramine-build/*.manifest.sgx
gramine-build/*.manifest
gramine-build/dcap-generation-test.o
gramine-build/dcap-generation-test
